<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>

    <p><strong>Author:</strong><%= message.user %></p>
    <p><strong>Message:</strong><%= message.text %></p>
    <p><strong>Added on:</strong><%= message.added.toLocaleString() %></p>

    <a href="/">Back to message list</a>
</body>
</html>